.cta-back{
	bottom:40px;
}

.scores-wrapper{
	height:100vh;
}

.msg-wrapper{
	height:100vh;
	h1{
		color:#FFFFFF;
		z-index:2;
	}
}


.cta{
	&.cta-clear{
	    position:fixed;
	    bottom:40px;
	    left:-50px;
	    z-index:3;
	    font-size:1.5rem;
	    padding-right:15px;
	    transition: 0.25s;
	    cursor:pointer;
	    &:hover{
	        left:0px;
	    }
	}
}

.rec{
	height:64px;
	margin-bottom:8px;
	margin-right:8px;
	padding:0px 30px;
	font-size:2rem;
	background:#006565;
	line-height:64px;
	z-index:2;
	color:#FFFFFF;
	&.rec-index{
		width:64px;
	}
	&.rec-name{
		width:320px;
	}
	&.rec-score{
		width:128px;
	}
}

.msg-cta{
	background:#FFF;
	color:#00B5B5;
	height:64px;
	transform:translateY(0px);
	width:128px;
	z-index:2;
	transition:0.5s;
	line-height:64px;
	font-size:1.5rem;
	&:hover{
		transform:translateY(-10px);
		cursor:pointer;
	}
	&.active{
		color:#006565;
	}
}
