.cta-restart{
	top:40px;
}

.cta-menu{
	bottom:40px;
}

.center-text{
	position:fixed;
	z-index:2;
	left:0px;
	width:100%;
	font-size:3rem;
	color:#FFF;
	&.face{
		top:40px;
	}
	&.game-over-text{
		bottom:40px;
	}
}

.cta{
	&.cta-continue{
	    position:fixed;
	    top:40px;
	    left:-50px;
	    z-index:3;
	    font-size:1.5rem;
	    padding-right:15px;
	    transition: 0.25s;
	    cursor:pointer;
	    &:hover{
	        left:0px;
	    }
	}
	&.clock{
	    position:fixed;
	    bottom:40px;
	    left:-50px;
	    z-index:3;
	    font-size:1.5rem;
	    padding-right:15px;
	}
}

.grid-wrapper{
	position:fixed;
	top:0px;
	left:0px;
	z-index:2;
	width:100%;
	height:100vh;
	.grid{
		width:1000px;
		height:500px;
		background: rgba(255,255,255,0.2);

		.cell-wrapper{
			padding:2px;
			float:left;
			.cell{
				background:#FFF;
				height:100%;
				color:#006565;
				&.dug{
					background:#006565;
					color:#00B5B5;
					.cell-text{
						display:block;
					}
					&.mine{
						background:#555;
						color:#00B5B5;
						.cell-text{
							display:none;
						}
						.cell-img{
							.fa-flag{
								display:none;
							}
							.fa-bomb{
								display:block;
							}
						}
					}
				}
				.cell-text{
					display:none;
				}
				.cell-img{
					.fa-flag{
						display:none;
					}
					.fa-bomb{
						display:none;
					}
				}
				&.mine{
					&.finish{
						.cell-text{
							display:none;
						}
						.cell-img{
							.fa-flag{
								display:none;
							}
							.fa-bomb{
								display:block;
							}
						}
					}
				}
				&.flag{
					.cell-text{
						display:none;
					}
					.cell-img{
						.fa-flag{
							display:block;
						}
						.fa-bomb{
							display:none;
						}
					}
				}

			}
		}
	}
}