.cta-restart{
	top:40px;
}

.cta-menu{
	bottom:40px;
}

.grid-wrapper{
	position:fixed;
	top:0px;
	left:0px;
	z-index:2;
	width:100%;
	height:100vh;
	.grid{
		width:1000px;
		height:500px;
		background: rgba(255,255,255,0.2);

		.cell-wrapper{
			padding:2px;
			float:left;
			.cell{
				background:#FFF;
				height:100%;
				color:#000;
				&.dug{
					background:#555;
					color:#AAA;
					.cell-text{
						display:block;
					}
					&.mine{
						background:#F00;
						color:#FFF;
						.cell-text{
							display:none;
						}
						.cell-img{
							.fa-flag{
								display:none;
							}
							.fa-bomb{
								display:block;
							}
						}
					}
				}
				.cell-text{
					display:none;
				}
				.cell-img{
					.fa-flag{
						display:none;
					}
					.fa-bomb{
						display:none;
					}
				}
				&.mine{
					&.finish{
						.cell-text{
							display:none;
						}
						.cell-img{
							.fa-flag{
								display:none;
							}
							.fa-bomb{
								display:block;
							}
						}
					}
				}
				&.flag{
					.cell-text{
						display:none;
					}
					.cell-img{
						.fa-flag{
							display:block;
						}
						.fa-bomb{
							display:none;
						}
					}
				}

			}
		}
	}
}