



<div class="text-wrapper cta cta-restart text-left" (click)="restartGame();">
	<span>RESTART GAME</span>
</div>

<div class="text-wrapper cta cta-continue text-right" *ngIf="gameOver" (click)="goToSummary();">
	<span>CONTINUE</span>
</div>

<div class="grid-wrapper d-flex flex-row justify-content-center align-items-center">
	<div id="game-grid" class="grid">
		<div *ngFor="let row of grid.cells">
			<div class="cell-wrapper" *ngFor="let cell of row" (mousedown)="cellClicked($event,cell)" [ngStyle]="{ 'height':(500/grid.rows)+'px', 'width':(1000/grid.cols)+'px' }">
				<div class="cell d-flex flex-row justify-content-center align-items-center" [ngStyle]="{ 'font-size':(15/grid.rows)+'rem' }" [ngClass]="{'dug': cell.opened, 'mine': cell.mine, 'flag': cell.flagged, 'finish': gameOver}">
					<span class="cell-text text-bold">{{cell.count}}</span>
					<div class="cell-img">
						<i class="fas fa-bomb"></i>
						<i class="fas fa-flag"></i>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="text-wrapper cta cta-menu text-left" (click)="goToMain();">
	<span>QUIT TO MENU</span>
</div>