/* You can add global styles to this file, and also import other style files */

$c-white:#FFFFFF;
$c-black:#00B5B5;
$c-accent:#006565;


@font-face {
    font-family: 'GB';
    src: url('./assets/fonts/Gotham-Black.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GT';
    src: url('./assets/fonts/Gotham-Thin.otf');
    font-weight: normal;
    font-style: normal;
}

html,body{
	font-family:'GT', Helvetica, Arial;
	font-size:16px;
}

.content-wrapper{
    position:absolute;
    top:120px;
    left:0px;
    width:100%;
    * {
        width:100%;
    }
}

.text-wrapper{
    height:64px;
    width:300px;
    background:$c-white;
    color:$c-black;
    span{
        line-height:64px;
    }
}

.title-wrapper{
    position:fixed;
    top:40px;
    font-size:2rem;
    left:0px;
    padding-right:15px;
}

.cta{
    position:fixed;
    right:-50px;
    z-index:3;
    font-size:1.5rem;
    padding-left:15px;
    transition: 0.25s;
    cursor:pointer;
    &:hover{
        right:0px;
    }
}

.text-bold{
    font-family:'GB';
}

.text-white{
    color: $c-white;
}

@media (max-width:991px){
    body{
        display:none;
    }
}